button {
    padding: .8rem 3rem;
    border-radius: 15px;
    background-color: #4D5B9E;

    display: grid;
    place-content: center;

    font-family: Inter;
    font-weight: 500;
    color: white;
}